* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}

header {
    background-color: black;
    padding: 12px;
}

.flex_one {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 150px;
    border-radius: 50%;
}

header h1, header h2 {
    color: antiquewhite;
    text-align: center;
}